@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 0;
  height: 100vh; /* Full viewport height */
  background-image: url(/codeExplore/modtype/play2.png);
  text-align: center;
  margin-bottom: 8vh;
  gap: 1vh;
  color: var(--text-color);
  background: var(--bg--color);
  overflow-y: scroll; /* สร้าง scroll bar */
  background-color: #f3f3f3;
}

:root{
    --bg--color: #CB8A4E;
    --second-bg-color: #112e42;
    --text-color: #2b2b2b;
    --main-color: #112e42;
}

#game {
  position: flex;
  flex: 1;  /* มีทำไมไม่รู้ แต่มีแล้วดีกว่า */
  justify-content: center; /* Center horizontally */
  align-items: center;
  width: 100%;
  padding-top: 0vh; /* 70% down from the top of the viewport */
  text-align: center;
}

#start-btn {
  font-size: 15vh;
  padding: 3vh 4vh;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
  border: 0.2vh solid black; /* เพิ่มเส้นกรอบสีขาว */
  border-radius: 0.2vh;
}

#score-time {
  position: absolute;
  top: 2vh;
  right: 0.5vh;
}

.small-box {
  margin-top: 4vh;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  width: 100%; /* Full width */
  padding: 1rem; /* Add some padding */
  border-radius: 3vh; /* Add rounded corners */
  margin-bottom: 0rem; /* Add margin to separate from other elements */
  flex-direction: column;
  align-items: flex-end;
  font-size: 2.5vh;
}

.container {
  margin-top: 1vh;
  display: flex;
  width: 100%;
  flex-direction: column; /* Arrange children in a column */
  justify-content: flex-end; /* Align children to the bottom */
  align-items: center; /* Center children horizontally */
  height: 100vh; /* Full viewport height */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 1rem; /* Add some padding */
  position: relative; /* Ensure the container is positioned relative for absolute positioning of falling words */
  overflow: hidden; /* Hide overflowing content */
}

#score, #time #character-count{
  margin-top: 1vh;
  font-size: 2.5vw;
}

#word-container {
  width: 150vh; /* ปรับความกว้างของกรอบที่คำวิ่ง */
  max-width: 60vh; /* ความกว้างสูงสุด */
  height: 10vh;
  margin-top: 10vh;
  font-size: 48px;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  border: 2px solid black; /* เพิ่มเส้นกรอบสีขาว */
  border-radius: 10px; /* เพิ่มมุมโค้งให้กรอบ */
}

#word {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#input {
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  width: 50vh;
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
  padding: 70px;
  border-radius: 10px;
  color: white;
  text-align: center;
  display: none;
  align-items: center;
}

.hidden {
  display: none;
}

button {
  background-color: #444;
  color: white;
  padding: 10vh 20vh;
  border: none;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20vh;
}

button:hover {
  background-color: #666;
}

/*------------------Scoreboard-------------------------------------*/
.scoreboard {
  width: 35vh;
  padding: 4vh;
  margin: 4vh 5vw 4vh 5vh;
  background-color: white;
  border: 0.5vh solid #040404;  /* border line color*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 0;
  top: 0;
  height: 90%;
  max-height: 60rem;
  box-sizing: border-box;
  border-radius: 3vh;
  z-index: 999; /* High z-index to ensure it's on top */
}
.scoreboard h2,
.scoreboard h3 {
  text-align: left;
  margin-bottom: 2vh;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.profile span {
  font-size: 4vh;
  font-weight: bold;
}
.metrics, .mode, .score-list {
  margin-bottom: 2vh;
}
.metrics div, .mode div, .score-list div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
  font-size: 1.7vh;
}
.score-list .score-item {
  background-color: hsl(0, 0%, 78%);
  border-radius: 3vh;
  border: 0.1vw solid #000000;
  padding: 0.8vh 3vh;
  text-align: center;
}

.mode-item a {
  display: block; /* Make the anchor tag a block element */
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent element */
  padding: 0.1vh; /* Add some padding */
  border: 0vh solid #ffffff; /* Add a border */
  border-radius: 1vh; /* Add rounded corners */
  transition: all 0.4s ease; /* Smooth transition for hover effects */
}

.mode-item a:hover {
  background-color: #c0c0c0; /* Change background color on hover */
  color: #2b2b2b; /* Change text color on hover */
  transform: translate(0px, -0.5vh);
}

.mode .mode-item {
  font-size: 3vh;
  color: rgb(128, 128, 128);
  margin: 1vh;
}

.underline {
  text-decoration: underline;
  font-size: 3.5vh;
}
/*------------------END---Scoreboard-------------------------------------*/
